body {
   
   background-image: url('roadtrippers.png');
    /* background-color: #b1aaa1; */
    background-repeat: no-repeat; 
    }

    img.myImage {
       width: 15px;
       height: 15px;
       
    }
   
    h1 {
      /* background-image: url("travel17.png"); */
      position: fixed;
      top: 0px;
      left: 50px;
    font-size: 25px;
    color: teal;
    text-decoration: underline;
    font-family: 'Baker Street Black';
    font-weight: 800;
    }

    h2 {

      position: fixed;
      top: 150px;
      left: 50px;
    font-size: 30px;
    color: teal;
    text-decoration: underline;
    font-family: 'Baker Street Black';
    font-weight: 800;


    }

   div.f {
    position: fixed;
     top: 300px;
     left: 525px;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 200px;
    }

div.App {
    position: fixed;
     top: 0px;
     left: 0px;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 200px;
    }

div#a {
   top: 400px;
    float: left;
    border-radius: 25px;
    background: pink;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 10px;
    }

 div.home {
    position: fixed;
    top: 250px;
    left: 400px;
    background-color: #312461;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 600px;
    height: 600px;
   }

   div.navbar {
      background-color: #020008;
    /* background-image: url("cityty.gif"); */
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0;
    /* border-radius: 25px; */
    padding: 20px;
    width: 1400px;
    height: 15px;
   }

   input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border-radius: 25px;
  }

  div.login {
    position: fixed;
    top: 400px;
    left: 525px;
    border-radius: 25px;
    background: pink;
    padding: 20px;
    width: 200px;
    height: 200px;
}

div#c {
   /* top: 400px; */
   opacity: 0.6;
  transition: 0.3s;
    float: left;
    border-radius: 25px;
    color: rgb(245, 1, 192);
    font-weight: bold;
    background: pink;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 200px;
    margin-left: 10px;
 }

 div#c:hover {opacity: 1}

 div#d {
   /* top: 400px; */
    float: left;
    border-radius: 25px;
    color: rgb(245, 1, 192);
    font-weight: bold;
    background: pink;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 200px;
    margin-left: 10px;
 }
  
 div#h {
    position: fixed;
    top: 250px;
    left: 525px;


 }

 button {
height: 75px;
width: 100px;
 position: fixed;
    top: 250px;
    left: 525px;

 }
  